@model IEnumerable<ToolsForHire.Models.Tool>
@{
    ViewBag.Title = "Tools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tools</h2>


<table id="tools" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tool</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {

            $("#tools").DataTable({
                ajax: {
                    url: "/api/tools",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "categoryType.name"
                    }
                ]

            });
        });
    </script>
}


